// From active-directory-domain-vm module output > domain-controller-name
domain_controller_virtual_machine_name      = ""

// From active-directory-domain-vm module output > domain-controller-id
domain_controller_virtual_machine_id        = ""

// From dc-cac-network module output > dc-public-ip
domain_controller_virtual_machine_public_ip = ""

active_directory_domain_users_list_file     = "./domain_users_list.csv"

//active_directory_netbios_name = "sampletest"
active_directory_domain_name  = "sampletest.dns.internal" 
// "${var.active_directory_netbios_name}.dns.internal"

ad_admin_username                           = "admin234"
ad_admin_password                           = "StRoNgPaSsWoRd11#"
safe_mode_admin_password                    = "StRoNgPaSsWoRd11#"

# Leave the following blank, they are only filled when using Azure Key Vault secrets
ad_pass_secret_name                         = ""
key_vault_id                                = ""
application_id                              = ""
aad_client_secret                           = ""
tenant_id                                   = ""
safe_admin_pass_secret_id                   = ""
