resource_group_name         = "sample-resource-group"
location                    = "westus2" // Same as resource group location

# List of CAC machines to deploy
cac_configuration = [
    {
        cac_token = "cac token from https://cam.teradici.com/app/connectors",
        location = "westus2",
    },
]

prefix                      = "sampletest"

// Enter PCoIP registration code here
pcoip_registration_code     = ""

//active_directory_netbios_name = "sampletest"
domain_name                   = "sampletest.dns.internal" // "${var.active_directory_netbios_name}.dns.internal"

// From dc-cac-network module output > dc-private-ip
domain_controller_ip        = ""

ad_service_account_username = "admin234"
ad_service_account_password = "StRoNgPaSsWoRd11#"

// From cac-network module output > cac-network-interface-ids
nic_ids                     =  [
								"",
]

host_name                   = "sampletest-cac-vm" // "${var.prefix}-cac-vm"
cac_admin_user              = "admin234"
cac_admin_password          = "StRoNgPaSsWoRd11#"

// From dc-cac-network module output > private-dns-zone-id
dns_zone_id                 = ""

// From tools/deploy-script-storage-account module output > _artifactsLocation
_artifactsLocation            = ""

// Add Azure account Subscription ID here.
subscriptionID                = ""

# Leave the following blank, they are only filled when using Azure Key Vault secrets
application_id                = ""
aad_client_secret             = ""
tenant_id                     = ""
pcoip_secret_id               = ""
ad_pass_secret_id             = ""
cac_token_secret_id           = ""


