workstations = [
    {
        prefix         = "rishabh-centos",
        location       = "westus2"
        workstation_os = "linux",
        vm_size        = "Standard_B2ms",
        disk_type      = "Standard_LRS",
        count          = 1
        disk_size      = "128"
        isGFXHost      = false
    }
]