{
  "vault-type": "azure",
  "key-vault-url": "${key_vault_url}",
  "azure-client-id": "${azure_client_id}",
  "azure-client-secret": "${azure_client_secret}",
  "azure-tenant-id": "${azure_tenant_id}"
}

