// From workstation-map module output > linux-workstations
workstations = {
	"linux_host_0" = {
		"disk_size" = 128
		"disk_type" = "Standard_LRS"
		"isGFXHost" = false
		"location" = "westus2"
		"prefix" = "lin"
		"vm_size" = "Standard_B2ms"
		"workstation_os" = "linux"
	}
}

resource_group_name  = "sample-resource-group"

admin_name           = "admin234"
admin_password       = "StRoNgPaSsWoRd11#"

// From centos-host-network module output > centos-host-nic-ids
centos_host_nic_ids = [
                        ""
]

// Add size of VM here (Same as "vm_size" in workstations) - For validation (If there are multiple workstations, we are currently presuming for validation that their sizes are the same. This can be modified if required). 
machine_type = "Standard_B2ms"

// Add Azure account Subscription ID here.
subscriptionID = ""      