resource_group_name = "sample-resource-group"

# From cac-network output > cac-public-ips
managed_endpoints   = [
			            "",
]

# From cac-vm output > cac-vm-names
managed_endpoint_names =  [
			                "",
]

// Add dns name for traffic manager
dns_name = ""  