// From workstation-map module output > linux-workstations
workstations = {
	"linux_host_0" = {
		"disk_size" = 128
		"disk_type" = "Standard_LRS"
		"index" = 0
		"isGFXHost" = false
		"location" = "westus2"
		"prefix" = "rishabh-centos"
		"vm_size" = "Standard_B2ms"
		"workstation_os" = "linux"
	}
}

resource_group_name = "sample-resource-group"

// From dc-cac-network module output > subnet-workstation-ids
workstation_subnet_ids = [
	"",
]

// From dc-cac-network module output > subnet-workstation-locations
workstation_subnet_locations = [
	"",
]

// From dc-cac-network module output > nat-gateway-ids
nat_gateway_ids              = [
	"",
]
