/*
 * Copyright (c) 2020 Teradici Corporation
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 */

 # List of workstations to deploy
 # The example below deploys 2 standard workstations in westus2. 1 standard CentOS VM and 1 standard Windows VM.
 
 workstations = [
    {
        prefix           = "gfxws",
        location         = "westus2",
        workstation_os   = "linux",
        vm_size          = "Standard_B2ms",
        disk_type        = "Standard_LRS",
        disk_size        = 128,
        count            = 1,
        isGFXHost        = false
    },
    {
        prefix           = "ws",
        location         = "westus2",
        workstation_os   = "windows",
        vm_size          = "Standard_B2ms",
        disk_type        = "Standard_LRS",
        disk_size        = 128,
        count            = 1,
        isGFXHost        = false
    }
]
 
# The example below deploys 1 standard CentOS VM, 1 standard Windows VM, 1 graphics CentOS VM and 1 graphics Windows VM.
 /*
 workstations = [
    {
        prefix           = "gfxws",
        location         = "westus2",
        workstation_os   = "linux",
        vm_size          = "Standard_B2ms",
        disk_type        = "Standard_LRS",
        disk_size        = 128,
        count            = 1,
        isGFXHost        = false
    },
    {
        prefix           = "ws",
        location         = "westus2",
        workstation_os   = "windows",
        vm_size          = "Standard_B2ms",
        disk_type        = "Standard_LRS",
        disk_size        = 128,
        count            = 1,
        isGFXHost        = false
    },
    {
        prefix           = "gfxws",
        location         = "westus2",
        workstation_os   = "linux",
        vm_size          = "Standard_B2ms",
        disk_type        = "Standard_LRS",
        disk_size        = 128,
        count            = 1,
        isGFXHost        = true
    },
    {
        prefix           = "ws",
        location         = "westus2",
        workstation_os   = "windows",
        vm_size          = "Standard_B2ms",
        disk_type        = "Standard_LRS",
        disk_size        = 128,
        count            = 1,
        isGFXHost        = true
    }
]

*/

# List of cloud access connectors to deploy
# Be sure to deploy a cac in each workstation location
cac_configuration = [
    {
        cac_token = "cac token from https://cam.teradici.com/app/connectors",
        location = "westus2",
    }
]

# The PCOIP registration code
pcoip_registration_code       = "XXXXXXXXXXX@AAAA-BBBB-CCCC-DDDD"

# The resource group the deployment will be placed
resource_group_name           = "my-resource-group"

# Prefix for VM machine names
prefix                        = "test"

# _artifactsLocation is the Azure storage account you created and copied the content of the /tools directory too
_artifactsLocation            = "https://<storage account name>.blob.core.windows.net/<storage account container name>/"

# Domain controller active directory property values
active_directory_netbios_name = "tera"
ad_admin_username             = "admin234"
ad_admin_password             = "StRoNgPaSsWoRd11#"
safe_mode_admin_password      = "StRoNgPaSsWoRd11#"

# The location on the local PC where the domain users list file (csv) resides
ad_domain_users_list_file     = "~/Azure_Deployments/terraform-deployments/deployments/single-connector/domain_users_list.csv"

# CAC VM username and passwords
cac_admin_username = "admin234"
cac_admin_password = "StRoNgPaSsWoRd11#"

# Windows VMs usernames and passwords
windows_admin_username  = "WINadmin"
windows_admin_password  = "StRoNgPaSsWoRd11#"

# Centos VMs usernames and passwords
centos_admin_username  = "CENTadmin"
centos_admin_password  = "StRoNgPaSsWoRd11#"

# Leave the following blank, they are only filled when using Azure Key Vault secrets
application_id                = ""
aad_client_secret             = ""
tenant_id                     = ""
pcoip_secret_id               = ""
ad_pass_secret_id             = ""
safe_admin_pass_secret_id     = ""
cac_token_secret_id           = ""
ad_pass_secret_name           = ""
key_vault_id                  = ""

# Debug flags for accessibility to the virtual machines
# NOTE THAT THIS IS INSECURE! AND SHOULD ONLY BE USED FOR TESTING ETC
create_debug_public_ips       = true
create_debug_rdp_access       = true