// From workstation-map module output > windows-workstations
workstations        = {
    "windows_host_0" = {
        prefix           = "win",
        location         = "westus2",
        workstation_os   = "windows",
        vm_size          = "Standard_B2ms",
        disk_type        = "Standard_LRS",
        disk_size        = 128,
        isGFXHost        = false
    },
}

resource_group_name = "sample-resource-group"

admin_name     = "admin234"
admin_password = "StRoNgPaSsWoRd11#"

// From windows-host-network module output > windows-host-nic-ids
windows_host_nic_ids = [
                        ""
]

// Add size of VM here - For validation (If there are multiple workstations, we are currently presuming for validation that their sizes are the same. This can be modified if required). 
machine_type = "Standard_B2ms"

// Add Azure account Subscription ID here.
subscriptionID = ""
