workstations = ""
cac_configuration = ""
ad_admin_password = ""
safe_mode_admin_password = ""
pcoip_registration_code = ""
resource_group_name = ""
managed_identity_id = ""
application_id = ""
aad_client_secret = ""