workstations = ""
cac_configuration = ""
ad_admin_password = ""
safe_mode_admin_password = ""
pcoip_registration_code = ""
application_id = ""
aad_client_secret = ""
resource_group_name = ""
tenant_id = ""
key_vault_id = ""
ad_pass_secret_name = ""