{
  "db-connection-string": "mongodb://${vm_private_ip}:27017/",
  "db-enable-tls": false,
  "vault-type": "azure",
  "azure-client-id": "${azure_client_id}",
  "azure-client-secret": "${azure_client_secret}",
  "azure-tenant-id": "${azure_tenant_id}"
}

