{
  "db-connection-string": "mongodb://${vm_private_ip}:27017/",
  "db-enable-tls": false,
  "vault-type": "azure",
  "key-vault-url": "https://by-single-connector.vault.azure.net/",
  "azure-client-id": "5d58fb31-9b58-44d9-9626-2a5fc8abbf5a",
  "azure-client-secret": "Bq81U163cryTydsZn.MEF_.S470fmjpB~-",
  "azure-tenant-id": "9b3df396-9313-4d3b-a3ea-5111f59ab9c4"
}