/*
 * Copyright (c) 2021 Teradici Corporation
 *
 * This source code is licensed under the MIT license found in the
 * LICENSE file in the root directory of this source tree.
 */

 # List of workstations to deploy.
 # For workstation prefixes, max 5 characters to avoid name cropping.
 # Example below deploys 1 standard CentOS VM, 1 standard Windows VM, 1 graphics CentOS VM and 1 graphics Windows VM.
 
 workstations = [
    {
        prefix           = "",
        location         = "westus2",
        workstation_os   = "linux",
        vm_size          = "Standard_B2ms",
        disk_type        = "Standard_LRS",
        disk_size        = 128,
        count            = 1,
        isGFXHost        = false
    },
    {
        prefix           = "",
        location         = "westus2",
        workstation_os   = "windows",
        vm_size          = "Standard_B2ms",
        disk_type        = "Standard_LRS",
        disk_size        = 128,
        count            = 1,
        isGFXHost        = false
    },
    {
        prefix           = "",
        location         = "westus2",
        workstation_os   = "linux",
        vm_size          = "Standard_NV12s_v3",
        disk_type        = "Standard_LRS",
        disk_size        = 128,
        count            = 1,
        isGFXHost        = true
    },
    {
        prefix           = "",
        location         = "westus2",
        workstation_os   = "windows",
        vm_size          = "Standard_NV12s_v3",
        disk_type        = "Standard_LRS",
        disk_size        = 128,
        count            = 1,
        isGFXHost        = true
    }
]

# Name of resource group for deployment resources. Name must be unique.
# Leaving this commented will result in the name: 'casm_single_connector_[random_id]'
# resource_group_name           = ""

# Prefix for DC and CAC machines.
prefix                        = ""

# Debug flag to RDP into the DC VM.
# create_debug_rdp_access       = false

# Active directory administrator username.
ad_admin_username       = <username of user account in Azure Active Directory>

#Azure Active Directory Domain Services parameters.
aadds_vnet_name               = "AAD_DS_TeraVNet"
aadds_vnet_rg                 = "AAD_DS_Teradici"
aadds_domain_name             = "example.onmicrosoft.com"

# (Optional) Specify SSL certificate for Connector
# ssl_key  = "~/clouddrive/privkey.pem"
# ssl_cert = "~/clouddrive/fullchain.pem"

ad_admin_password             = <password of user account in Azure Active Directory>
safe_mode_admin_password      = "Password!234"
cas_mgr_admin_password        = "Password!234"
mongodb_admin_password        = "Password!234"
pcoip_registration_code       = "ABCDEFGHIJKL@0123-4567-89AB-CDEF"

# Used for authentication and allows Terraform to manage resources.
#Teradicidev
application_id                = "<from section 3 step 4>"
aad_client_secret             = "<from section 3 step 5-6>"
tenant_id                     = "<from section 3 step 4>"
object_id                     = "<from section 3 step 4>"
